body
{
margin: 0;
padding: 0;
font-family: sans-serif;
background-image: url(https://imgv3.fotor.com/images/gallery/Blue-geometric-pattern-background.jpg);
background-size: cover;
background-position: center;
}




.sign-up-form
{
  width:300px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: lightcyan;
  padding: 40px;
  margin: 2% auto 0;
  text-align: center;

  border-bottom: 7px solid yellow;
  outline: 10px solid rgba(4, 168, 213, 0.3);
  border-top: 7px solid  yellow;
  outline: 10px solid rgba(18, 170, 212, 0.3);
  border-left: 7px solid   yellow;
  outline: 10px solid rgba(18, 170, 212, 0.3);
  border-right: 7px solid  yellow;
  outline: 10px solid rgba(18, 170, 212, 0.3);
} 
 



.sign-up-form h1
{
color: #1c8adb;
margin-bottom: 30px;
}

.input-box
{
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  border: 3px solid #ed7171;
  outline: none;
}

button
{
  color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  font-size: 15px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.signup-btn
{
  background-color: #1c8adb;
}

img
{
width: 90px;
margin-top: -70px;
}

h1{
  width:auto;
  color: rgba(16, 16, 242, 0.879);
  margin-top: 50px;
}


